/* Setting website box size, padding and margin */
*
 {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Setting background color for the website */
body {
    background-color: #d9dcd6;
}

/* Header settings */
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* h1 header settings */
header h1 {
    display: inline-block;
    font-size: 48px;
}

/* h1 .seo header settings, the color change in the company's name */
header h1 .seo {
    color: #d9dcd6;
}

/* div header settings */
header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* Changing header's ul style */
header div ul {
    list-style-type: none;
}

/* Changing header's list style and margin */
header div ul li {
    display: inline-block;
    margin-left: 25px;
}

/* Link properties */
a {
    color: #ffffff;
    text-decoration: none;
}

/* Paragraph properties */
p {
    font-size: 16px;
}

/* Image background settings */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* setting all float-left class with margin */
.float-left {
    float: left;
    margin-right: 25px;
}

/* setting all float-right class with margin */
.float-right {
    float: right;
    margin-left: 25px;
}

/* section content, set with, display and margin */
.section-content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* aside benefits settings */
.aside-benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* Set font color and bottom margin for all three benefits */
.benefit-design  {
    margin-bottom: 32px;
    color: #ffffff;
}

/* Change bottom margin and text alignment for h3 */
.benefit-design h3  {
    margin-bottom: 10px;
    text-align: center;
}

/*  Display benefit imgage in block, setting margin and with of image */
.benefit-design img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* inside three section content layout, properties */
.content-design {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* Set image max size for content section  */
.content-design img {
    max-height: 200px;
}

/* Set h2 margin and size */
.content-design h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* footer, setting padding, clear float, set font family and text alignment */
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/* footer h2 font size setting */
footer h2 {
    font-size: 20px;
}
